                    * {
                        box-sizing: border-box;
                        padding: 0;
                        margin: 0;
                    }
                    
                    body {
                        font-family: sans-serif;
                    }
                    
                    nav {
                        background: rgb(14, 112, 177);
                        padding: 5px 20px;
                    }
                    
                    ul {
                        list-style-type: none;
                    }
                    
                    a {
                        color: white;
                        text-decoration: none;
                    }
                    
                    a:hover {
                        text-decoration: underline;
                    }
                    
                    .logo a:hover {
                        text-decoration: none;
                    }
                    
                    .menu li {
                        font-size: 16px;
                        padding: 15px 5px;
                        white-space: nowrap;
                        max-height: 130px;
                    }
                    
                    .logo a,
                    .toggle a {
                        font-size: 20px;
                    }
                    
                    .mediumimg {
                        margin-right: auto;
                        margin-left: auto;
                        display: flex;
                        height: 100%;
                        width: 100%;
                        position: relative;
                    }
                    
                    .largeimg {
                        position: relative;
                    }
                    
                    .overpic li:hover {
                        background-color: rgb(14, 112, 177);
                    }
                    
                    .slide {
                        position: relative;
                        width: 100%;
                    }
                    
                    .column {
                        float: left;
                        width: 25%;
                    }
                    
                    .row:after {
                        content: "";
                        display: table;
                        clear: both;
                    }
                    
                    .grid ul {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: flex-start;
                        justify-content: flex-start;
                    }
                    
                    .content {
                        padding: 20px;
                    }
                    
                    .grid {
                        padding-bottom: 10px;
                    }
                    /* mobile menu */
                    
                    .menu {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .toggle {
                        order: 1;
                    }
                    
                    .item.button {
                        order: 2;
                    }
                    
                    footer {
                        background-color: rgb(0, 0, 0);
                        position: relative;
                    }
                    
                    footer .column {
                        font-size: 15px;
                        margin-left: 10%;
                        max-width: 20%;
                    }
                    
                    footer .column1 {
                        margin-top: 0%;
                        margin-left: 40%;
                        max-width: 20%;
                    }
                    
                    footer .column2 {
                        position: absolute;
                        top: 0;
                        left: 80%;
                        max-width: 20%;
                    }
                    
                    footer h2 ul li {
                        text-align: center;
                    }
                    
                    footer li:hover {
                        background-color: rgb(14, 112, 177);
                    }
                    
                    .item {
                        width: 100%;
                        text-align: center;
                        order: 3;
                        display: none;
                    }
                    
                    .item.active {
                        display: block;
                    }
                    
                    .grid h3 {
                        color: rgb(9, 53, 82);
                        display: flex;
                    }
                    /* tablet menu */
                    
                    @media all and (min-width: 400px) {
                        .menu {
                            justify-content: center;
                        }
                        .logo {
                            flex: 1;
                        }
                        .toggle {
                            flex: 1;
                            text-align: right;
                        }
                        .item.button {
                            width: auto;
                            order: 1;
                            display: block;
                        }
                        .toggle {
                            order: 2;
                        }
                        .button a {
                            padding: 7.5px 15px;
                            background: teal;
                            border: 1px #006d6d solid;
                        }
                        .button a:hover {
                            text-decoration: none;
                        }
                        .overpic {
                            position: absolute;
                            left: 3%;
                            text-align: left;
                            background-color: rgba(28, 30, 31, 0.8);
                            font-size: 20px;
                            border: 6px solid rgb(14, 112, 177);
                            border-radius: 5px;
                            box-sizing: border-box;
                            width: 30%;
                            font-family: Arial, Helvetica, sans-serif;
                            font-weight: bold;
                            word-wrap: break-word;
                            padding: 6px;
                        }
                    }
                    /* desktop menu */
                    
                    @media all and (min-width: 800px) {
                        .item {
                            display: block;
                            width: auto;
                        }
                        .toggle {
                            display: none;
                        }
                        .logo {
                            order: 0;
                        }
                        .item {
                            order: 1;
                        }
                        .button {
                            order: 2;
                        }
                        .menu li {
                            padding: 15px 10px;
                        }
                        .menu li.button {
                            padding-right: 0;
                        }
                        .mediumimg {
                            display: none;
                        }
                        .overpic {
                            position: absolute;
                            top: 10%;
                            left: 3%;
                            text-align: left;
                            background-color: rgba(28, 30, 31, 0.8);
                            font-size: 20px;
                            border: 6px solid rgb(14, 112, 177);
                            border-radius: 5px;
                            box-sizing: border-box;
                            width: 30%;
                            font-family: Arial, Helvetica, sans-serif;
                            font-weight: bold;
                            word-wrap: break-word;
                            margin-right: 8px;
                            padding: 6px;
                        }
                        .row {
                            width: 100%;
                        }
                    }
                    
                    @media (max-width:900px) {
                        .largeimg {
                            display: none;
                        }
                        .overpic {
                            position: absolute;
                            top: 5%;
                            left: 3%;
                            text-align: left;
                            background-color: rgba(28, 30, 31, 0.8);
                            font-size: 20px;
                            border: 6px solid rgb(14, 112, 177);
                            border-radius: 5px;
                            box-sizing: border-box;
                            width: 60%;
                            font-family: Arial, Helvetica, sans-serif;
                            font-weight: bold;
                            word-wrap: break-word;
                            padding: 6px;
                        }
                        .column {
                            width: 100%;
                        }
                    }