#logo {
    display: flex;
    justify-content: center;
    padding: 0px 0px 100px 0px;
}
#cards {
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2% 2%;
}
#topmenu { background-color: #01689b;
}
#top_menu {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
#top_menu a {
    color: white;
}
#top_menu li {
    padding: 0px 0px 0px 30px;
}
#top_menu > li {
    display: inline;
}
#top_menu > li:first-child {
    padding: 0px 0px 10px 0px;
    margin-right: 10%;
    margin-left: 2%;
}
main {
    background: url("images/minimumlonen-.jpg");
    background-position: center;
    background-size: cover;
}
#div3 {
    display: flex;
    justify-content: space-around;
}
#div4 {
    background-color:white;
}
.copyright {
    color: white;
}
h2 {
    text-align: center;
}